<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="1 seconds">
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>
    <jmxConfigurator/>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--%logger{156}，logger名称，{名称允许展示的最大长度}
            %n：换行，类似html中<br />
            %date <=> %d{yyyy-MM-dd HH:mm:ss.SSS}

            详情参见：https://logback.qos.ch/manual/layouts.html-->
            <pattern>%level [%thread] %date %logger{26} %L - %n%msg%n%n</pattern>
        </encoder>
    </appender>
    <!--将该包下的类的日志级别设置为DEBUG，我们开发Spring MVC经常出现与参数类型相关的4XX错误，
    设置此项将会看到更详细的错误信息-->
    <logger name="org.springframework.web" level="DEBUG" />
    <root level="info">
        <appender-ref ref="console"/>
    </root>
</configuration>